
// Import bootstrap
@import "bootstrap/bootstrap.less";
//@import "bootstrap/responsive.less";

.posts {}
.post {
    padding: 8px;
    margin-bottom: 7px;
    hr {
        margin: 1px 0px 1px;
    }
    .heading {
        .author {
            font-weight: bold;
        }
    }
}

h1.thread {
    margin-bottom: 10px
}
