body,html {
    height: 100%;
}

body {
    background-color: #EEE;
    font-family: Verdana;
}

a {
    text-decoration: none;
}

.user-bar {
    font-size: 0.75em;
}

.pull-right {
    float:right;
}

.top a {
    color: #eee;
}

.top input {
    margin-right: 5px;
}

#wrapper {
    font-size: 10pt;
    min-height: 100%;
    position: relative;
}

.top {
    background-color: #05ba8b;
    color: #eee;
    padding: 2px;
    margin: 0px;
    font-size: 1.2em;
    font-family: Verdana;
    line-height: 1.5em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    color: #888;
}

#content {
    padding: 20px;
    padding-bottom: 4em;
}

.thread {
    background-color: #05ba8b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 5px;
    margin-top: 0.2em;
    clear: both;
}

.thread .heading {
    margin: 0px;
    padding: 5px;
    font-size: 12pt;
}

.thread .content {
    background-color :#fff;
}

.thread .heading a {
    color: #eee;
}

.item {
    background-color: #05ba8b;
    margin-top: 5px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #888;
    border: 1px solid #aaa;
    display: block;
}

.item .inner {
    margin-left: 10px;
    padding: 5px;
    background: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.item a {
    color: #333;
}

.info  {
    color: #ccc;
    font-weight: normal;
}

.loginbox {
    width: 400px;
    margin: auto;
    position: relative
}

.boxheader {
    padding: 2px 2px 2px 6px;
    background-color: #05ba8b;
    color: #fff;
}

.boxbody {
    background-color: #fff;
    color: #000;
    overflow:hidden;
}

.topicnew {
    float:right;
    padding-right:10px;
}

.topicnew a {
    color: #fff;
}

.post {
    padding: 2px;
    padding-left: 5px;
}

.post p {
    margin-bottom: 0.2em;
    padding-left: 10px;
}

.post ul, ol {
    padding-left: 40px;
}

.metadata {
    color: #bbb;
}

.metadata .author {
    color: #05ba8b;
    font-weight: bold;
    font-family: Verdana;
}

.form-horizontal {
    padding: 20px;
}

.pagination {
    padding: 2px;
    float: right;
    clear: both;
    font-size: 1.2em;
    font-weight: bold;
}

.pagination a {
    padding: 2px;
    color: #05ba8b;
}
.pagination span {
    padding: 2px;
}

.push {
    clear: both;
}
/*
  #a6c
  #a8d
  #d2d
  #ff0
*/

.help {
    color: #cc2222;
}