body,html {
    height: 100%;
}

body {
    background-color: #EEE;
    font-family: Verdana;
}

a {
    text-decoration: none;
}

.pull-right {
    float:right;
}

.top {
    background-color: #05ba8b;
    color: #eee;
    padding: 2px;
    margin: 0px;
    font-size: 1.2em;
    font-family: Verdana;
}

.top a {
    color: #eee;
}

.top input {
    margin-right: 5px;
}


#wrapper {
    padding: 0px 25px 25px 20px;
    margin: 10px;
    font-size: 10pt;
    overflow: visible;
}


.thread {
    background-color: #05ba8b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 5px;
    margin-top: 20px;
}

.thread .heading {
    margin: 0px;
    padding: 5px;
    font-size: 12pt;
}

.thread .content {
    background-color :#fff;
}

.thread .heading a {
    color: #eee;
}

.item {
    background-color: #fff;
    margin: 5px;
    color: #333;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #888;
    border: 1px solid white;
    padding: 5px;
    display: block;
}

.item a {
    color: #333;
}

.info  {
    color: #ccc;
    font-weight: normal;
}

.loginbox {
    width: 400px;
    margin: auto;
    position: relative
}

.boxheader {
    padding: 2px 2px 2px 6px;
    background-color: #05ba8b;
    color: #fff;
}

.boxbody {
    background-color: #fff;
    color: #000;
    overflow:hidden;
}

.topicnew {
    float:right;
    padding-right:10px;
}

.topicnew a {
    color: #fff;
}

ul.topics {
    list-style-type: none;
    margin: 0px;
    padding-left: 10px;
    padding-top: 5px;
    width: auto;
}

ul.topics a {
    color: #111;
}

.button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    cursor: pointer;

}

.post {
    padding: 5px;
}

.post p {
    margin-bottom: 1em;
}

.metadata {
    color: #bbb;
}

.metadata .author {
    color: #05ba8b;
    font-weight: bold;
    font-family: Verdana;
}

.form-horizontal {
    padding: 20px;
}


/*
  #a6c
  #a8d
  #d2d
  #ff0
*/
